<div fxFlex="100" class="padding: 10px">
  <div fxFlex="400px" fxFlex.xs="100" fxFlexOffset="calc(50% - 200px)" fxFlex.xs="0" fxLayout="column">

    <mat-form-field>
      <mat-label>Input Label</mat-label>
      <input matInput placeholder="Input placeholder">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Textarea Label</mat-label>
      <textarea matInput placeholder="textarea placeholder"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Label</mat-label>
      <mat-select placeholder="Select Placeholder">
        <mat-option>Option 1 </mat-option>
        <mat-option>Option 2 </mat-option>
        <mat-option>Option 3 </mat-option>
        <mat-option>Option 4 </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Datepicker Label</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>
</div>
